<html>
  <head>
    <title>
      Members Only
    </title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <h1>
    Members Only
  </h1>
  <% if(!locals.user){%>
    <%- include ("partials/unauth.ejs")%>
      <%}%>
      <br/>
          <% if(locals.user && !locals.user.role){ %>
            <p>
              Message details are only available to users that have either a user role or admin role.
              Please input a key to access your role
              </p>
              <form action="/key" method="POST">
              <label>
              Role Key:
              </label>
              <input type="text" name="key" placeholder="userKey, adminKey" />
              <button>
              Submit Key
              </button>
              </form>
              <% } %>
              <% if(locals.user){ %>
              <a class="button new" href="/newMessage"> New Message</a>
              <% } %>
              <div id="messageContainer">
              <% messages.forEach((message) => { %>
                  <%- include('messages', {text: message.text, userName: message.email, time: message.time.toLocaleDateString("en-CA"), writerName: message.fullname, messageId: message.id}); %>
                  <%});%>
              </div>
              <a class="button logout" href="/log-out">LOG OUT</a>
  </body>
</html>
