<h2> 
<%= locals.user.fullname %>
</h2> 
<%- include("partials/errors.ejs") %>
<form method="POST" action="/newMessage">
 <label for="text"> Text: </label>
 <textarea id="text" name="text" rows="4" cols="50" placeholder="Your message here">
 </textarea>
 <button>
 Submit Message:
 </button>
</form>

